@font-face {
  font-family: BrandonGrotesque;
  src: url("./fonts/Brandon_med.otf") format("opentype");  
}

@font-face {
  font-family: Oxygen;
  src: url("./fonts/Oxygen-Light.ttf");
}

@font-face {
  font-family: Oxygen;
  src: url("./fonts/Oxygen-Bold.ttf");
  font-weight: bold;
}

body {
  background: white;
  position: absolute;
  height: 100%;
  width: 100%;
  font-family: Oxygen;
}

.card {
  background-color: white;
  padding: 10px;
  margin: 10px 0px;
  text-align: center;
  border-radius: 0px;
  border: 1px solid;
  border-color: #e5e6e9 #dfe0e4 #d0d1d5;
  transition: all 0.2s ease;
  box-shadow: 0px 2px 3px rgba(0,0,0,0.1);
}

.cthru {
  background-color: rgba(255,255,255,0.1);
}


.link:hover {
  border-color: deepskyblue;
  box-shadow: 2px 4px 3px rgba(0,0,0,0.2);
}

.thumbnail {
  padding: 10px;
  margin: 10px 0px;
}

.center {
  text-align: center;
}

.left {
  text-align: left;
}

.right {
  text-align: right;
}

a {
  text-decoration: none !important;
}

a .card:hover {
  border-color: deepskyblue;
  box-shadow: 2px 4px 3px rgba(0,0,0,0.2);
}

.linklight {
  color: deepskyblue;
}

.cardmargins {
  margin: 10px 0px;
}

.canscroll {
  overflow-y: scroll;
}

.dev {
  background-color: #e9e9e9;
  border-left: dashed 4px #ffffff;
  border-right: dashed 4px #424242;
}

.des {
  /*background-color: #424242;*/
  background-image: url("./img/bg.jpg");
}

.fullheight {
  height: 100%;
}

.white {
  color: white;
}

.light {
  color: gray;
}

.yellow {
  color: #FFC107;
}

.indigo {
  color: #3F51B5;
}

.green {
  color: #8BC34A;
}

.dashright {
  border-right: dashed 4px #e9e9e9;
}

.dashleft {
  border-left: dashed 4px #e9e9e9;
}

::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}
 
/* Track */
::-webkit-scrollbar-track {
  display: none;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: rgba(0,0,0,0.8); 
}
::-webkit-scrollbar-thumb:window-inactive {
  background: transparent;
}

.title {
  font-family: BrandonGrotesque, sans-serif;
}
